In [78]:
!pip install flask pandas

Requirement already satisfied: flask in /usr/local/lib/python3.11/dist-packages (3.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: Werkzeug>=3.1 in /usr/local/lib/python3.11/dist-packages (from flask) (3.1.3)
Requirement already satisfied: Jinja2>=3.1.2 in /usr/local/lib/python3.11/dist-packages (from flask) (3.1.6)
Requirement already satisfied: itsdangerous>=2.2 in /usr/local/lib/python3.11/dist-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /usr/local/lib/python3.11/dist-packages (from flask) (8.1.8)
Requirement already satisfied: blinker>=1.9 in /usr/local/lib/python3.11/dist-packages (from flask) (1.9.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from Jinja2>=3.1.2->flask) (3.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [72]:
df = pd.read_csv("bandung.csv")

In [64]:
df.isna().sum()

Nama Tempat Wisata    0
Alamat                0
Jenis Wisata          0
Deskripsi             0
Koordinat             0
Rating                0
Kota                  0
Deskripsi Singkat     0
dtype: int64

In [75]:
df.drop_duplicates(inplace=True)

In [77]:
print("Jumlah duplikasi: ", df.duplicated().sum())

Jumlah duplikasi:  0

In [76]:
df.shape

(817, 8)

In [55]:
bobot_rating = 0.7

In [65]:
import pandas as pd

def rekomendasi_populer(file_path, top_n=500):

    df['skor_popularitas'] = df['Rating'] * bobot_rating

    df_sorted = df.sort_values(by='skor_popularitas', ascending=False)
     # Mengambil top_n tempat wisata
    top_wisata = df_sorted.head(top_n)

    return top_wisata[['Nama Tempat Wisata',"Kota",'Jenis Wisata', 'Rating', "Deskripsi Singkat"]]

In [66]:
# Contoh penggunaan
file_path = "bandung.csv"  # Sesuaikan dengan lokasi file Anda
rekomendasi = rekomendasi_populer(file_path)
print(rekomendasi)

         Nama Tempat Wisata         Kota   Jenis Wisata  Rating  \
1581        Rammang-Rammang     Makassar           Alam     5.0
1598       Malino Highlands     Makassar           Alam     5.0
67              Kawah Putih      Bandung           Alam     5.0
907           Museum Wasaka  Banjarmasin        Sejarah     5.0
1590  Trans Studio Makassar     Makassar  Taman Hiburan     5.0
...                     ...          ...            ...     ...
1050   Grand Indonesia Mall      Jakarta        Belanja     4.6
971           Pulau Kembang  Banjarmasin           Alam     4.6
601               Tanah Lot         Bali         Religi     4.6
1271     Keraton Yogyakarta   Yogyakarta        Sejarah     4.6
18           Dago Dreampark      Bandung       Rekreasi     4.5

                                      Deskripsi Singkat
1581  Pegunungan karst indah dengan sungai dan gua e...
1598   Dataran tinggi dengan kebun teh dan udara sejuk.
67    Danau kawah vulkanik dengan air berwarna putih...
907   Museum perjuangan rakyat Kalimantan Selatan de...
1590  Taman hiburan indoor terbesar di Indonesia Timur.
...                                                 ...
1050  Pusat perbelanjaan mewah dengan berbagai merek...
971   Pulau kecil di Sungai Barito yang dihuni oleh ...
601   Pura di atas batu karang yang terkenal dengan ...
1271  Istana resmi Kesultanan Yogyakarta dengan nila...
18    Taman rekreasi dengan wahana dan pemandangan a...

[500 rows x 5 columns]